<nav
  block:scope
  ...attributes
>
  <div block:class="section">
    {{#each @workspaces as |workspace|}}
      <LinkTo
        @route="workspaces.workspace"
        @model={{workspace}}
        block:class="button"
      >
        {{workspace.initials}}
      </LinkTo>
    {{/each}}
    <LinkTo
      @route="workspaces.new"
      block:class="button"
      block:add
    >
      +
    </LinkTo>
  </div>
  <div block:class="section">
    <div block:class="button">
      CW
    </div>
  </div>
</nav>
