/* ==========================================================================
   # APPLICATION FOOTER
   ========================================================================== */

:scope {
  block-name: c-application-navigation;
  flex-shrink: 0;
  padding: 20px;
  width: 300px;
  background-color: #4f999e;
  color: var(--color-white);
}

  .title {
    margin-bottom: var(--spacing-base);
  }
