<header
  block:scope
  ...attributes
>
  <div block:class="wrapper">
    <nav block:class="search">
      Search
    </nav>
    <SignOut />
  </div>

  <div block:class="notifications">
    {{#each this.flashMessages.queue as |flash|}}
      <Application::Header::Notification @flash={{flash}} />
    {{/each}}
  </div>
</header>
