/* ==========================================================================
   # APPLICATION FOOTER
   ========================================================================== */

@import '../../../styles/tools/tools.attention.scss';

:scope {
  block-name: c-tool-navigation;
  position: fixed;
  top: 0;
  bottom: 0;
  left: var(--spacing-large);
  display: flex;
  width: var(--navigation-width);
  border-right: var(--border-width-small) solid var(--color-grey-dark);
  background-color: var(--color-grey-light);
  flex-direction: column;
  justify-content: space-between;
  padding: var(--spacing-small) var(--spacing-base);
}

  .title {
    margin-bottom: var(--spacing-large);
    line-height: 1;
    font-size: var(--font-size-h2);
    font-weight: bold;
  }

  .item {
    display: flex;
    align-items: center;
    margin-bottom: var(--spacing-tiny);

    @include attention() {
      color: var(--color-primary);
    }
  }

    .icon {
      flex-shrink: 0;
      margin-right: var(--spacing-small);
      width: var(--spacing-small-tiny);
    }

    .label {
      flex-grow: 1;
      font-weight: bold;
      // font-size: var(--font-size-large);
    }

  .spacer {
    flex-grow: 1;
  }
