/* ==========================================================================
  # APPLICATION
  ========================================================================== */

:scope {
  block-name: c-tool;
  display: flex;
  flex-direction: row;
  min-height: 100vh;
  background-color: var(--color-grey--light);
}

  .workspace {
    flex-grow: 1;
    padding: var(--spacing-base);
    margin-top: var(--spacing-large);
    margin-left: calc(var(--navigation-width) + var(--spacing-large));
  }
