/* ==========================================================================
   # APPLICATION
   ========================================================================== */

:scope {
  block-name: c-application;
  display: flex;
  flex-direction: row;
  min-height: 100vh;
  background-color: var(--color-grey--light);
}

  .content {
    display: flex;
    flex-grow: 1;
    flex-direction: column;
  }

    .main {
      flex-grow: 1;
    }

@block-global [is-authenticated]

