<form {{on "submit" (route-action "save" @model)}}>
  <Input @value={{@model.name}} />
  <button type="submit">Save</button>
</form>

<button type="button" {{on "click" (route-action "delete" @model)}}>
  Delete
</button>
